<h1>Welcome to MTL Oriental!</h1>
<p>Find Asian Restaurants in Montreal!</p>

<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-md-3">
      <%= link_to restaurant_path(restaurant.id) do %>
        <% if restaurant.photo? %>
          <div style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('<%= cl_image_path restaurant.photo %>'); background-size: cover; height: 200px">
            <h1><%= restaurant.name.upcase %></h1>
            <p><em><%= restaurant.category %></em></p>
          </div>
        <% else %>
          <div style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('https://d30y9cdsu7xlg0.cloudfront.net/png/82812-200.png'); background-size: cover; height: 200px">
            <h1><%= restaurant.name.upcase %></h1>
            <p><em><%= restaurant.category %></em></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
