<div class="resto-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="info-box resto-info box-divider box-shadow">
        <h1><%= @restaurant.name %></h1>
        <p>
          <% case @restaurant.category %>
            <% when "Chinese" %>
              <i class="em em-cn"></i>
            <% when "Japanese" %>
              <i class="em em-jp"></i>
            <% when "Korean" %>
              <i class="em em-kr"></i>
            <% when "Indian" %>
              <i class="em em-flag-in"></i>
            <% when "Vietnamese" %>
              <i class="em em-flag-vn"></i>
            <% when "Thai" %>
              <i class="em em-flag-th"></i>
            <% else %>
              <i class="em em-earth_asia"></i>
          <% end %>
          <em><%= @restaurant.category %>&nbsp;Cuisine</em>
        </p>
        <p><strong><i class="fas fa-map-marker-alt"></i></strong>&nbsp;&nbsp;<%= @restaurant.address %></p>
        <p><strong><i class="fas fa-map"></i></strong>&nbsp;&nbsp;<%= @restaurant.district %></p>
        <div>
          <%= link_to root_path do %>
            <i class="fas fa-caret-square-left"></i>&nbsp;&nbsp;Back to restaurants
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="map" class="box-divider box-shadow" style="width: 100%; height: 350px;" data-marker="<%= @marker.to_json %>"></div>
    </div>
    <div class="col-sm-4">
      <% if @restaurant.photo? %>
        <div class="box-divider box-shadow" style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('<%= cl_image_path @restaurant.photo %>'); background-size: cover; height: 350px;">
        </div>
      <% else %>
        <div class="box-divider box-shadow" style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('https://d30y9cdsu7xlg0.cloudfront.net/png/82812-200.png'); background-size: cover; height: 350px;">
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="info-box box-shadow">
        <h2>Recommended Dishes&nbsp;&nbsp;<i class="em em-ok_hand"></i></h2>
        <div id="recommendations">
          <ul>
            <% @restaurant.recommendations.each do |recommendation| %>
              <li>
                <%= recommendation.content %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="info-box box-shadow">
        <% if @signed_in %>
          <p>Let others know what's good here at <%= @restaurant.name %>!</p>
          <%= render 'recommendations/form', restaurant: @restaurant, recommendation: @recommendation %>
        <% else %>
          <h2>
            <%= link_to new_user_session_path do %>
              <strong style="color: crimson; opacity: 0.9;"><em>Login</em></strong>
            <% end %>
            or
            <%= link_to new_user_registration_path do %>
              <strong strong style="color: crimson; opacity: 0.9;"><em>sign up</em></strong>
            <% end %>
            to add a dish to the list!
          </h2>
        <% end %>
      </div>
    </div>
  </div>
</div>
