<div class="row">
  <div class="col-sm-4">
    <h1><%= @restaurant.name %></h1>
    <p><em><%= @restaurant.category %></em></p>
    <hr>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.district %></p>
    <hr>
    <% if @admin %>
      <p>Admin Options:</p>
      <div>
        <%= link_to edit_restaurant_path(@restaurant) do %>
          <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit
        <% end %>
      </div>
      <div>
        <%= link_to restaurant_path, method: :delete do %>
          <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete
        <% end %>
      </div>
      <hr>
    <% end %>
    <div>
      <%= link_to new_restaurant_review_path(@restaurant) do %>
        Add a review!
      <% end %>
    </div>
    <div>
      <%= link_to root_path do %>
        Back to restaurants
      <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="map" style="width: 100%; height: 400px;" data-marker="<%= @marker.to_json %>"></div>
  </div>
  <div class="col-sm-4">
    <% if @restaurant.photo? %>
      <div style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('<%= cl_image_path @restaurant.photo %>'); background-size: cover; height: 400px;">
      </div>
    <% else %>
      <div style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('https://d30y9cdsu7xlg0.cloudfront.net/png/82812-200.png'); background-size: cover; height: 400px;">
      </div>
    <% end %>
  </div>
</div>
