<div class="row">
  <div class="col-sm-6">
    <div style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('<%= cl_image_path @restaurant.photo %>'); background-size: cover; min-height: 60vh">
    </div>
  </div>
  <div class="col-sm-6">
    <h1><%= @restaurant.name %></h1>
    <p><em><%= @restaurant.category %></em></p>
    <hr>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.district %></p>
    <hr>
    <% if @admin %>
      <div>
        <%= link_to edit_restaurant_path(@restaurant) do %>
          Edit this restaurant's details
        <% end %>
      </div>
      <div>
        <%= link_to restaurant_path, method: :delete do %>
          Delete this restaurant
        <% end %>
      </div>
    <% end %>
    <div>
      <%= link_to root_path do %>
        Back to Restaurants
      <% end %>
    </div>
  </div>
</div>
